In [1]:
import pandas as pd
df = pd.DataFrame()
df['data'] = [55,25,5553,45,55,65,785,9]

df = df.sort_values(by="data", ascending=False)

df

   data
2  5553
6   785
5    65
0    55
4    55
3    45
1    25
7     9

In [3]:
df = df.iloc[0:int((len(df)*0.7))]

df

   data
2  5553
6   785
5    65
0    55
4    55

In [11]:
import numpy as np

r = np.arange(-1,-5,8)
r = np.arange(-10,-5,0.2)

for i in r:
    print(i)

-10.0
-9.8
-9.600000000000001
-9.400000000000002
-9.200000000000003
-9.000000000000004
-8.800000000000004
-8.600000000000005
-8.400000000000006
-8.200000000000006
-8.000000000000007
-7.800000000000008
-7.6000000000000085
-7.400000000000009
-7.20000000000001
-7.000000000000011
-6.800000000000011
-6.600000000000012
-6.400000000000013
-6.2000000000000135
-6.000000000000014
-5.800000000000015
-5.600000000000016
-5.400000000000016
-5.200000000000017

In [6]:
x = 100*0.6*0.6*0.6*0.6*0.6
x

7.775999999999999